@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Montserrat:wght@700&display=swap");
@import "tailwindcss";

@theme {
  --color-gray-20: #f8f4eb;
  --color-gray-50: #efe6e6;
  --color-gray-100: #dfcccc;
  --color-gray-500: #5e0000;
  --color-primary-100: #ffc5e3;
  --color-primary-300: #ff81c1;
  --color-primary-500: #e9499a;
  --color-secondary-400: #ffcd5b;
  --color-secondary-500: #ffc132;
  --color-secondary-700: #f2a763;
}

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: "DM Sans";
  @apply text-gray-900;
}
